.card {
  border: 1px solid white;
  height: 200px;
  width: 300px;
  transition: all 0.2s;
}

.card:hover {
  margin: 0 10px;
  box-shadow: -10px 0 0 white;
}

.card > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

h3 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: rgba(0, 0, 0, 0.5);
}

.mainlang {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 0 5px;
  box-shadow: 2px 2px 1px #1f1f1f;
}

/* main lang color */
#SvelteJS {
  background-color: #FF3C00;
}
#NextJS {
  background-color: #81D8D4;
  text-shadow: 1px 1px 0 black;
}
#RubyOnRails {
  background-color: #B10C00;
}
#JS {
  background-color: #EFD81D;
  text-shadow: 1px 1px 0 black;
}
#PHP {
  background-color: #7377AD;
}

#to_do_list {
  background-image: url("../pictures/Projets/to-do-list.png");
  background-size: cover;
}

#open_air_connect {
  background-image: url("../pictures/Projets/openairconnect.png");
  background-size: cover;
}

#location_car {
  background-image: url("../pictures/Projets/location_car.png");
  background-size: cover;
}

#green_drive {
  background-image: url("../pictures/Projets/green_drive.png");
  background-size: cover;
}

#twitch-clone {
  background-image: url("../pictures/Projets/twitchclone.png");
  background-size: cover;
}

#calculatrice {
  background-image: url("../pictures/Projets/calculatrice.png");
  background-size: cover;
}
