* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 110vh;
}

/*Intro*/
section:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('./services/pictures/Intro/forest.jpg');
  background-position: center;
  background-size: cover;
}
